<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-app">
  <template>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      :host {
        display: block;
      }
      .header {
       color: #36A0FF;
       font-size: 27px;
       padding: 10px;
      }
      .bigicon {
          font-size: 35px;
          color: #36A0FF;
      }
      .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
          opacity: 1;
          transition: opacity 0.6s;
          margin-bottom: 15px;
        }

        .alert.success {background-color: #4CAF50;}
        .alert.info {background-color: #2196F3;}
        .alert.warning {background-color: #ff9800;}

        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }

        .closebtn:hover {
          color: black;
        }
    </style>
    <div class="container" align="center-block">
      <div class="row">
          <div class="col-md-12">
              <div class="well well-sm">
                      <fieldset>
                          <legend class="text-left header" ><img src="/images/BBVA_2019.svg"
                            width="145" height="100" >Acceso app</legend>
                         <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center">Correo</span>
                              <div class="col-md-8">
                                  <input id="email" value="{{email::input}}"  type="text" placeholder="correo@buzon.com" class="form-control" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" title="Utiliza un correo valido" required>
                              </div>
                          </div>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center">Contraseña</span>
                              <div class="col-md-8">
                                  <input id="password" value="{{password::input}}" minlength="5" maxlength="12"  type="password" placeholder="Contraseña" class="form-control" required pattern="[A-Za-z0-9]+" title="Introduce la contraseña">
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="alert col-md-8"  hidden$="{{!logado}}" >
                                  <strong><!></strong>&nbsp;&nbsp;Usuario / Contraseña Invalida.
                              </div>
                         </div>

                          <div class="form-group">
                              <div class="col-md-12 text-center">
                                  <button type="button" class="btn btn-primary btn-lg" on-click="registro">Registro</button>&nbsp;&nbsp;
                                  <button type="button" class="btn btn-primary btn-lg" on-click="logar">Entrar</button>
                              </div>
                          </div>

                      </fieldset>
              </div>
          </div>
      </div>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        }
      }

      registro(){
        window.location = "./alta-usuario.html"
      }

      logar(){
          this.logado = false;
          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:3000/PtoBackend/lgn", false);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          request.setRequestHeader("email", this.email);
          request.setRequestHeader("password", this.password);

          request.send();

          this.respuesta = request.responseText;
          console.log(this.respuesta);

          var str = this.respuesta;
          var res = str.split("|", 2);

          if (request.status == 200){
            localStorage.setItem("usuarioLocal", str);
            window.location="./indexentrar.html";
          } else {
            this.logado = true;
          }
        }
      }
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
