<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="registro-app">
  <template>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      :host {
          display: block;
      }
      .header {
       color: #36A0FF;
       font-size: 27px;
       padding: 10px;
      }
      .bigicon {
          font-size: 35px;
          color: #36A0FF;
      }
      .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
          opacity: 1;
          transition: opacity 0.6s;
          margin-bottom: 15px;
        }

        .alert.success {background-color: #4CAF50;}
        .alert.info {background-color: #2196F3;}
        .alert.warning {background-color: #ff9800;}

        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }

        .closebtn:hover {
          color: black;
        }
    </style>
    <div class="container" align="center-block" background-color="#36A0FF">
      <div class="row">
          <div class="col-md-12">
              <div class="well well-sm">
                      <fieldset>
                          <legend class="text-left header" ><img src="/images/BBVA_2019.svg"
                            width="145" height="100" >Registro de usuario</legend>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center">Nombre</span>
                              <div class="col-md-8">
                                  <input id="fname" value="{{fname::input}}"  type="text" placeholder="Nombre" class="form-control" title="Captura tú nombre" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center">Apellido</span>
                              <div class="col-md-8">
                                  <input id="lname" value="{{lname::input}}" type="text" placeholder="Apellido" class="form-control" title="Captura tu apellido paterno" required>
                              </div>
                          </div>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center">Correo</span>
                              <div class="col-md-8">
                                  <input id="email" value="{{email::input}}"  type="text" placeholder="correo@buzon.com" class="form-control" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" title="Utiliza un correo valido" required>
                              </div>
                          </div>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center">Contraseña</span>
                              <div class="col-md-8">
                                  <input id="password" value="{{password::input}}" minlength="8" maxlength="12"  type="password" placeholder="Contraseña" class="form-control" required pattern="[A-Za-z0-9]+" title="Introduce la contraseña">
                              </div>
                              <span class="col-md-1 col-md-offset-2 text-center"></span>
                              <div class="col-md-8">
                                  <input id="password_1" value="{{password_1::input}}"  minlength="8" maxlength="12"  type="password" placeholder="Confirma contraseña" class="form-control" required pattern="[A-Za-z0-9]+" title="Debe identica a la primera">
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="alert col-md-8"  hidden$="{{!logado}}" >
                                  <strong></strong>Las contraseñas no son identicas.
                              </div>
                              <div class="alert success col-md-8"  hidden$="{{!exito1}}" >
                                  <strong> !! Registro Exitoso !!</strong>
                              </div>
                         </div>

                          <div class="form-group">
                              <div class="col-md-12 text-center">
                                  <button type="button" class="btn btn-primary btn-lg" on-click="valida">Registrar</button>
                                  <button type="button" class="btn btn-primary btn-lg" on-click="login">ir al acceso</button>
                              </div>
                          </div>

                      </fieldset>
              </div>
          </div>
      </div>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroApp extends Polymer.Element {
      static get is() { return 'registro-app'; }
      static get properties() {
        return {
          fname: {
            type: String
          },
          lname: {
            type: String
          },
          lname: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          password_1: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          exito: {
            type: Boolean,
            value: false
          },
          exito1: {
            type: Boolean,
            value: false
        }
      }
    }

      valida(){
        var pas = this.password;
        var pas1 = this.password_1;
        console.log(pas);
        console.log(pas1);

        if (pas === pas1){
           this.logado = false;
           var request = new XMLHttpRequest();
           request.open("POST", "http://localhost:3000/PtoBackend/nvouser", false);
           request.setRequestHeader("Accept", "application/json");
           request.setRequestHeader("Content-Type", "application/json");
           request.setRequestHeader("name", this.fname);
           request.setRequestHeader("lname", this.lname);
           request.setRequestHeader("email", this.email);
           request.setRequestHeader("psw", this.password);

           request.send();

           this.respuesta = request.responseText;
           console.log(this.respuesta);
           if (request.status == 200){
             //window.location="./index.html";
             this.exito = true;
             this.exito1 = true;
           } else {
             this.logado = true;
             //alert("Usuario No Valido");
             //  window.location = "./alta-usuario.html"
           }
        }else{
          this.logado = true;
        }
      }


      login(){
        window.location="./index.html";
      }

      logar(){
          this.logado = false;
          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:3000/PtoBackend/lgn", false);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          request.setRequestHeader("email", this.email);
          request.setRequestHeader("password", this.password);

          request.send();

          this.respuesta = request.responseText;
          console.log(this.respuesta);

          var str = this.respuesta;
          var res = str.split("|", 2);

          if (request.status == 200){
            localStorage.setItem("usuarioLocal", res[1]);
            window.location="./indexentrar.html";
          } else {
            this.logado = true;
            //alert("Usuario No Valido");
            //  window.location = "./alta-usuario.html"
          }
        }
      }

    window.customElements.define(RegistroApp.is, RegistroApp);
  </script>
</dom-module>
