<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="altamov-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      :host {
        display: block;
      }
      .header {
       color: #36A0FF;
       font-size: 27px;
       padding: 10px;
      }
      .bigicon {
          font-size: 35px;
          color: #36A0FF;
      }
      .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
          opacity: 1;
          transition: opacity 0.6s;
          margin-bottom: 15px;
        }

        .alert.success {background-color: #4CAF50;}
        .alert.info {background-color: #2196F3;}
        .alert.warning {background-color: #ff9800;}

        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }

        .closebtn:hover {
          color: black;
        }
    </style>
    <app-header slot="header" condenses reveals effects="waterfall">
      <app-toolbar sticky>
            <nav class="navbar sticky-top navbar-expand-sm bg-primary navbar-dark">
              <img src="/images/BBVA_2019.svg"
                width="100" height="40">Tús cuentas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a  class="nav-link active" name="view1" href="/altamov.html">Alta<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                      <a  class="nav-link active" name="view1" href="/indexentrar.html">Resumen<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" name="view1" href="#">Tipo de cambio</a>
                      </li>
                  </ul>
                </div>
            </nav>
          </app-toolbar>
        </app-header>
        <div class="container" align="center-block">
            <div class="card text-center" style="width: 50rem;">
                <div class="card-header">
                    Alta de movimientos
                </div>
                <div class="card text-left" style="width: 50rem;">
                     <div class="card-body">
                       <div class="row">
                            <div class="col-sm-push-9">
                                   <select value="{{sel1::input}}" name="sel1" class="form-control" id="sel1" style="width: 20rem;" required>
                                         <option value="0" selected>Selecciona la cuenta</option>
                                         <template is="dom-repeat" id="cuentas" items="[[cuentas]]">
                                              <option value="[[item.IdCuenta]]">[[item.IdCuenta]]</option>
                                         </template>
                                   </select>
                            </div>
                       </div>
                     </div>
                </div>
            </div>
            <div class="card" style="width: 50rem;">
                <div class="container">
                  <fieldset>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-auto col-sm-2 col-form-label col-form-label-sm">
                                  <h5>&nbsp;&nbsp;Fecha</h5>
                                </div>
                                <div class="col-md-auto col-sm-2 col-form-label col-form-label-sm" >
                                      <input type ="text" value="{{IdFecha::input}}"name ="IdFecha" Id="IdFecha" placeholder="AAAA-MM-DD" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" title = "Ingrese una fecha en este formato AAAA-MM-DD" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto col-sm-2 col-form-label col-form-label-sm">
                                  <h5>&nbsp;&nbsp;Tipo</h5>
                                </div>
                                <div class="col-md-auto col-sm-2 col-form-label col-form-label-sm">
                                      <select value="{{sel2::input}}" id="sel2" width="10" required>
                                            <option value="0">Abono</option>
                                            <option value="1">Cargo</option>
                                      </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto col-sm-2 col-form-label col-form-label-sm">
                                  <h5>&nbsp;&nbsp;Descripción</h5>
                                </div>
                                <div class="col-md-auto col-sm-2 col-form-label col-form-label-sm" >
                                      <input type="text" value="{{IdDescrip::input}}" name ="IdDescrip" Id="IdDescrip"  minlength="4" maxlength="30"  size="30"  title ="Ingrese la descripción que identifica el gasto" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto col-sm-2 col-form-label col-form-label-sm">
                                  <h5>&nbsp;&nbsp;Importe</h5>
                                </div>
                                <div class="col-md-auto col-sm-2 col-form-label col-form-label-sm" >
                                      <input type="number" value="{{Idimport::input}}" pattern="[0-9]{10}"  name ="Idimport" Id="Idimport"  minlength="4" maxlength="10"  size="20"  title ="Ingrese importe sin decimales" required>
                                </div>
                            </div>
                            <div class="row justify-content-md-center" >
                              <div class="col-md-auto" >
                                    <button type="button" class="btn btn-primary btn-lg" on-click="guardar">Guardar</button>
                              </div>
                            </div>
                            <div class="row justify-content-md-center" >
                              <div class="col-md-auto alert success"  hidden$="{{!exito1}}" >
                                  <p></p>
                                  <strong> !! Registro Exitoso !!</strong>
                              </div>
                          </div>
                        </div>
                </fieldset>
            </div>
          </div>
    </template>
<script>
  class AltamovApp extends Polymer.Element {
        static get is() {
           return 'altamov-app';
        }
        static get properties() {
           return {
                IdFecha: {
                  type: String
                },
                sel1: {
                  type: String,
                  value:0
                },
                sel2: {
                  type: String,
                  value:0
                },
                IdDescrip: {
                  type: String
                },
                cuentas: {
                  type: Array,
                  notify: true
                },
                Idimport: {
                  type: String
                },
                logado: {
                  type: Boolean,
                  value: false
                },
                exito: {
                  type: Boolean,
                  value: false
                },
                exito1: {
                  type: Boolean,
                  value: false
              }
           }
        }

        constructor() {
          super();
          var lastname = String(localStorage.getItem("usuarioLocal"));
          var rcad=lastname.split("|",1);
          console.log(rcad);
          console.log('Ejecutándose el constructor');
          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:3000/PtoBackend/Consctas", false);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          request.setRequestHeader("Id", rcad[0]);

          request.send();

          this.cuentas = JSON.parse(request.responseText);
          console.log(this.cuentas);

        }

        connectedCallback() {
          super.connectedCallback();
          console.log('Ejecutándose connectedCallback');
        }

        disconnectedCallback() {
          super.disconnectedCallback();
          console.log('Ejecutándose disconnectedCallback');
        }

        attributeChangedCallback(nombre, valorAnterior, valorNuevo) {
          super.attributeChangedCallback();
          console.log('Ejecutándose attributeChangedCallback', nombre, valorAnterior, valorNuevo);
        }

        ready() {
          super.ready();
          console.log('Ejecutándose ready');
        }

        guardar(){
          var lastname = String(localStorage.getItem("usuarioLocal"));
          var rcad=lastname.split("|",1);
          console.log(rcad);
          console.log("Fecha "+this.IdFecha);
          console.log("Cuenta "+this.sel1);
          console.log("Descripcion " +this.IdDescrip);

          if (this.sel2==0){
            var idtipo="Abono";
            var Idimp=this.Idimport;
          }else{
            var idtipo="Cargo";
            var Idimp="-"+this.Idimport;
          }

          console.log("Importe "+Idimp);
          console.log("Tipo "+idtipo);

          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:3000/PtoBackend/nvomov", false);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          request.setRequestHeader("fecha", this.IdFecha);
          request.setRequestHeader("cta", this.sel1);
          request.setRequestHeader("desc", this.IdDescrip);
          request.setRequestHeader("tipo", idtipo);
          request.setRequestHeader("imp", Idimp);
          request.setRequestHeader("psw", rcad);

          request.send();

          this.respuesta = request.responseText;
          console.log(this.respuesta);
          if (request.status == 200){
            //window.location="./index.html";
            this.exito = true;
            this.exito1 = true;
          } else {
            this.logado = true;
            //alert("Usuario No Valido");
            //  window.location = "./alta-usuario.html"
          }
        }
  }



  window.customElements.define(AltamovApp.is, AltamovApp);
  </script>
</dom-module>
