<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cuentas-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      :host {
        display: block;
      }
      .header {
       color: #36A0FF;
       font-size: 27px;
       padding: 10px;
      }
      .bigicon {
          font-size: 35px;
          color: #36A0FF;
      }
      .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
          opacity: 1;
          transition: opacity 0.6s;
          margin-bottom: 15px;
        }

        .alert.success {background-color: #4CAF50;}
        .alert.info {background-color: #2196F3;}
        .alert.warning {background-color: #ff9800;}

        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }

        .closebtn:hover {
          color: black;
        }
    </style>
    <app-header slot="header" condenses reveals effects="waterfall">
      <app-toolbar sticky>
            <nav class="navbar sticky-top navbar-expand-sm bg-primary navbar-dark">
              <img src="/images/BBVA_2019.svg"
                width="100" height="40">Tús cuentas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a  class="nav-link active" name="view1" href="/altamov.html">Alta<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a  class="nav-link active" name="view1" href="/indexentrar.html">Resumen<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Tipo de cambio</a></a>
                    </li>
                  </ul>
                </div>
            </nav>
          </app-toolbar>
        </app-header>
        <div class="container" align="center-block">
            <div class="card text-center" style="width: 50rem;">
                <div class="card-header">
                    Resumen cuentas
                </div>
                <div class="card text-left" style="width: 50rem;">
                     <div class="card-body">
                       <div class="row">
                            <div class="col-sm-push-9">
                                   <select value="{{sel1::input}}" name="sel1" class="form-control" id="sel1" style="width: 20rem;">
                                         <option value="0" selected>Selecciona una cuenta</option>
                                         <template is="dom-repeat" id="cuentas" items="[[cuentas]]">
                                              <option value="[[item.IdCuenta]]">[[item.IdCuenta]]</option>
                                         </template>
                                   </select>
                            </div>
                            <div class="col-sm-push-9">
                              &nbsp;&nbsp;<button on-click="listmovi" class="btn btn-outline-primary" type="button">Listar</button>
                            </div>
                       </div>
                     </div>
                </div>
            </div>
            <div class="card text-center" style="width: 50rem;">
              <table class="table table-hover">
                <tbody>
                  <thead>
                    <tr class="bg-primary">
                      <th scope="col">Fecha</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Importe</th>
                    </tr>
                  </thead>
                  <template is="dom-repeat" items={{listmov}}>
                    <tr class="table-primary">
                      <td>
                        [[item.Fecha]]
                      </td>
                      <td>
                        [[item.Tipo]]
                      </td>
                      <td>
                        [[item.Descripcion]]
                      </td>
                      <td>
                        [[item.Importe]]
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
        </div>
    </template>
<script>
  class CuentasApp extends Polymer.Element {
        static get is() {
           return 'cuentas-app';
        }
        static get properties() {
           return {
                email: {
                  type: String
                },
                sel1: {
                  type: String,
                  value:0
                },
                invitado: {
                  type: String,
                },
                cuentas: {
                  type: Array,
                  notify: true
                },
                listmov: {
                  type: Array,
                  notify: true
                },
                logado: {
                  type: Boolean,
                  value: false
                }
           }
        }

        constructor() {
          super();
          var lastname = String(localStorage.getItem("usuarioLocal"));
          var rcad=lastname.split("|",1);
          console.log(rcad);
          console.log('Ejecutándose el constructor');
          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:3000/PtoBackend/Consctas", false);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          request.setRequestHeader("Id", rcad[0]);

          request.send();

          this.cuentas = JSON.parse(request.responseText);
          console.log(this.cuentas);
        }

        connectedCallback() {
          super.connectedCallback();
          console.log('Ejecutándose connectedCallback');
        }

        disconnectedCallback() {
          super.disconnectedCallback();
          console.log('Ejecutándose disconnectedCallback');
        }

        attributeChangedCallback(nombre, valorAnterior, valorNuevo) {
          super.attributeChangedCallback();
          console.log('Ejecutándose attributeChangedCallback', nombre, valorAnterior, valorNuevo);
        }

        ready() {
          super.ready();
          console.log('Ejecutándose ready');
        }

       listmovi() {
           var cta = this.sel1;
           if (cta == 0){
              alert("Selecciona una cuenta");
           }else{
              console.log(cta);
              console.log('Ejecutándo consulta de movimentos');
              var request = new XMLHttpRequest();
              request.open("POST", "http://localhost:3000/PtoBackend/Consmov", false);
              request.setRequestHeader("Accept", "application/json");
              request.setRequestHeader("Content-Type", "application/json");
              request.setRequestHeader("Id", cta);

              request.send();

              this.listmov = JSON.parse(request.responseText);
              console.log(this.listmov);
           }
         }
  }

  window.customElements.define(CuentasApp.is, CuentasApp);
  </script>
</dom-module>
